
.btn
{
    color: $primary-color;
    background: $bg-color;
    border: thin solid $primary-color;

    &:hover,
    &:focus,
    &:visited,
    &:visited:hover
    {
        color: $primary-color-light;
    }

    &:active,
    &:active:hover
    {
        color: $light-color;
    }

    &.btn-error,
    &.btn-success,
    &.btn-primary
    {
        color: $light-color;

        &:hover,
        &:focus,
        &:active,
        &:visited,
        &:visited:hover
        {
            color: $light-color;
        }
    }

    &.btn-link
    {
        color: $primary-color;

        &:hover,
        &:focus
        {
            color: $primary-color-dark;
        }

        &:visited,
        &:visited:hover
        {
            color: $primary-color;
        }

        &:active,
        &:active:hover
        {
            color: $primary-color-light;
        }

    }
}

.btn-group .btn.active, 
.btn-group .btn:active, 
.btn-group .btn:focus, 
.btn-group .btn:hover
{
    // Chrome subpixel rendering bug fix
    z-index: unset;
}

.form-input, 
.form-select, 
.form-checkbox .form-icon, 
.form-radio .form-icon, 
.form-switch .form-icon
{
    background: $bg-color;
    border: thin solid $bg-color-light;
}

code,
option,
.chip,
.card,
.menu,
.form-select:not([multiple]):not([size])
{
    background-color: $bg-color;
}

.empty,
.modal-container .modal-header
{
    color: $body-font-color;
}

.input-group .input-group-addon
{
    border: thin solid $bg-color-light;
}

.form-input.is-success, .form-select.is-success, .has-success .form-input, .has-success .form-select
{
    background: $bg-color;
    border: thin solid $success-color;
}

.form-input.is-error, 
.form-select.is-error, 
.has-error .form-input, 
.has-error .form-select,
.form-input:not(:placeholder-shown):invalid, 
.form-input:not(:placeholder-shown):invalid:focus 
{
    background: $bg-color;
    border: thin solid $error-color;
}

.modal-container
{
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}

.nav .nav-item
{
    & a
    {
        color: $link-color;
    }

    &.active > a 
    {
        color: $link-color;
        font-weight: bold;
    } 
}

.breadcrumb .breadcrumb-item
{
    color: $body-font-color;

    &:not(:last-child) a,
    &:not(:first-child)::before
    {
        color: unset;
    }

}

/* WebKit autocomplete styling */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus 
{
    -webkit-text-fill-color: $body-font-color;
    -webkit-box-shadow: 0 0 0 50px $webkit-autofill-bg-color inset;
    transition: background-color 10000s ease-in-out 10000s;
}

.content
{
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;

    @media screen and (min-width: $size-lg)
    {
        max-width: $size-lg - 2 * $content-gap;
    }

    @media screen and (min-width: $size-xl)
    {
        max-width: $size-xl - 2 * $content-gap;
    }

    @media screen and (min-width: $size-2x)
    {
        max-width: $size-2x - 2 * $content-gap;
    }
}

a:focus,
a:visited,
a:visited:focus
{
    color: $link-color-visited;
}

a:hover,
a:visited:hover
{
    color: $link-color-hover;
}

.text-dark
{
    color: $dark-color !important;
}